<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cabinetapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CabinetAPP"
        android:usesCleartextTraffic="true">
        <activity android:name=".PrendreRdvActivity"></activity>
        <activity android:name=".ListeRdvSecActivity" />
        <activity android:name=".ListeRdvMedecinActivity" />
        <activity
            android:name=".ListePatientActivity"
            android:label="@string/title_activity_liste_patient"
            android:theme="@style/Theme.CabinetAPP.NoActionBar" />
        <activity android:name=".MenuPatientActivity" />
        <activity android:name=".MenuMedecinActivity" />
        <activity android:name=".MenuSecActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>